* {
  padding: 0;
  margin: 0;
}

.test {
  background-color: cornflowerblue;
}

.dxm-control-bar {
  display: none;
}

.adjustment {
  padding-left: 15px;
  display: flex;
  padding-top: 15px;
  z-index: 2;
  gap: 100px;
  justify-content: flex-start;
}

.countriesdropdown {
  border: 2px solid;
  z-index: 2;
  width: 19vw;
  font-size: 16px;
  /* height: 30vh; */
  border-radius: 5px;
  display: flex;
  padding-inline: 10px;
  /* overflow-y: scroll; */
  justify-content: space-between;
  font-weight: 400;
}
.countriesdropdown svg {
  transform: rotate(180deg);
}

.dataBox {
  width: 20vw;
  border-radius: 2px;
  max-height: 50vh;
  border: 1px solid grey;
  overflow-y: scroll;
}

.Countrylist {
  padding: 5px;
  border-bottom: 1px solid grey;
  /* display: inline-block; */
  /* padding: 5em; */
  display: flex;
  gap: 10px;
  background: #eee;
}

/* .Countrylist input {
  display: inline-block;
  padding: 5em;
  background: #eee;
} */

.Countrylist label {
  padding-left: 10px;
  display: inline-block;
  padding-right: 42%;
}

.head {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  background-color: aliceblue;
}

.searchBar {
  width: 90%;
  margin-left: 5%;
}

.highlight {
  background-color: aqua;
}
.normal {
  word-wrap: normal;
}

.dxm-control-bar {
  display: block;
}

/* #map-container {
  height: 300px !important;
  width: 50% !important;
} */

.dx-visibility-change-handler svg {
  /* width: 50%; */
}

.BoxContainer {
  width: 100%;
  border: 2px solid black;
  height: 400px;
}

.BoxContainer h4 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: rgb(51, 99, 161);
}

.BoxContainer input {
  outline: 1px solid;
  font-size: 16px;
  border: none;
  width: 50px;
  padding-left: 5px;
  border-radius: 5px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.editButton {
  border: 2px solid rgb(59, 130, 177);
  padding: 3px;
  width: 5%;
  font-size: 16px;
  font-weight: 500;
}


/* #gridContainer {
  height: 440px;
}

.options {
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
}

.option > span {
  margin-right: 10px;
}

.option > .dx-selectbox {
  display: inline-block;
  vertical-align: middle;
} */



/* tr.dx-row.dx-column-lines.dx-header-row {
  background-color: cadetblue;
}

.dx-datagrid-scrollable-simulated.dx-datagrid-content.dx-datagrid-scroll-container {
  height: 79px;
}

.dx-scrollview-top-pocket {
  display: none;
}
.dx-scrollview-bottom-pocket {
  display: none;
}

.dx-overlay-content.dx-popup-normal.dx-resizable.dx-dropdowneditor-overlay {
  background-color: darkgrey;
}

/* .dx-scrollview-content { background-color: navajowhite; } */

/* span.dx-header-filter.dx-header-filter-empty {
  background-color: beige;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -16px;
}  */
/* .dx-datagrid-rowsview .dx-select-checkboxes-hidden > tbody > tr > td > .dx-select-checkbox {
  display: block;
} */

tr.dx-row.dx-column-lines.dx-header-row {
  background-color: cadetblue;
  color: black;
}

.dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter, .dx-datagrid .dx-column-indicators .dx-header-filter.dx-sort, .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter, .dx-datagrid .dx-column-indicators .dx-sort.dx-sort {
  display: inline-block;
  color: black;
}

.dx-datagrid-rowsview .dx-select-checkboxes-hidden > tbody > tr > td > .dx-select-checkbox{
  display: inline-block !important;
}